@charset "UTF-8";

body{
    background-color: royalblue;
    margin-top: 15%;
    font: 100%;
}

main{
    background-color: white;
    margin: auto;
    text-align: center;
    max-width: 50%;
    padding: 6px 9px 23px 9px;
    border-radius: 18px;
    font-size: 1.3em;

}